<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1095133334337-62cllm0r2b4alceh0g5hu1sl8g4ahvpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095133334337-62cllm0r2b4alceh0g5hu1sl8g4ahvpi</string>
	<key>API_KEY</key>
	<string>AIzaSyD7LB7nh0fTEevDgf7_RAdfhTNZu50fnV4</string>
	<key>GCM_SENDER_ID</key>
	<string>1095133334337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.torreon.sidekick.test</string>
	<key>PROJECT_ID</key>
	<string>sidekick-dev-cf9f9</string>
	<key>STORAGE_BUCKET</key>
	<string>sidekick-dev-cf9f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095133334337:ios:d9b338c4d87e25b9</string>
	<key>DATABASE_URL</key>
	<string>https://sidekick-dev-cf9f9.firebaseio.com</string>
</dict>
</plist>
